# Projeto de ciência de dados

## Análise de dados para uma empresa do ramo imobiliário

### Importando a base de dados.

In [3]:
import pandas as pd
data = pd.read_csv("datasets/kc_house_data.csv")
display(data)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

# Respondendo às perguntas do CEO da empresa House Rocket

In [4]:
print(data[['id', 'price']].sort_values('price', ascending=False))

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

### Quantos imóveis estão disponíveis para compra?

In [7]:
print(f'O número de imóveis disponíveis para compra é de {len(data)}')

O número de casas disponíveis para compra é de 21613

### Quantos atributos os imóveis possuem?

In [13]:
atributos = data.columns
print(f'Os imóveis possuem {len(atributos)} atributos.')

Os imóveis possuem 21 atributos.

### Quais são os atributos dos imóveis?

In [15]:
atr = []
print('Os atributos dos imóveis são: ')
for atributo in atributos:
    atr.append(atributo)
print(atr)

Os atributos dos imóveis são:
['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

### Qual o imóvel mais caro?

In [28]:
tabela = data[['id', 'price']].sort_values('price', ascending=False)
print(f'O imóvel mais caro é: ')
print(tabela.head(1))

O imóvel mais caro é:
              id      price
7252  6762700020  7700000.0

### Qual imóvel com o maior número de quartos?

In [32]:
bedrooms_max = data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False) 
print(f'O imóvel com o maior número de quartos é: ')
print(bedrooms_max.head(1))

O imóvel com o maior número de quartos é:
               id  bedrooms
15870  2402100895        33

### Qual a soma total do número de quartos do conjunto de dados?

In [38]:
print(f'A soma total do número de quartos do conjunto de dados é de : {(data["bedrooms"].sum())}')

A soma total do número de quartos do conjunto de dados é de : 72854

### Quantos imóveis possuem dois banheiros?

In [39]:
print(f'{len(data.query("bathrooms == 2"))} casas com dois banheiros.')

1930 casas com dois banheiros.

### Qual o preço médio de todos os imóveis do conjunto de dados?

In [40]:
print(f'O preço médio de todos os imóveis é de: {data["price"].mean():.2f}')

O preço médio de todos os imóveis é de: 540088.14

### Qual o preço médio dos imóveis com dois banheiros?

In [42]:
print(f'Os preços médios dos imóveis com dois banheiros é de: {data.query("bathrooms == 2")["price"].min():.2f}')

Os preços médios das casas com dois banheiros é de: 115000.00

### Qual o preço mínimo entre os imóveis com 3 quartos?

In [43]:
print(f'O preço mínimo das casas com 3 dormitórios é de: {data.query("bedrooms == 3")["price"].min():.2f}')

O preço mínimo das casas com 3 dormitórios é de: 82000.00

### Quantos imóveis possuem mais de 300mts2 na sala de estar?

In [44]:
print(f'{len(data.query("sqft_living > 3229"))} imóveis possuem mais de 300mts² de sala de estar...')

2258 imóveis possuem mais de 300mts² de sala de estar...

### Quantos imóveis possuem mais de dois andares?

In [45]:
print(f'{len(data.query("floors > 2"))} imóveis com mais de dois andares...')

782 imóveis com mais de dois andares...

### Quantos imóveis possuem frente para o mar?

In [46]:
print(f'{len(data.query("waterfront > 0"))} imóveis possuem frente para o mar...')

163 imóveis possuem frente para o mar...

### Quantos imóveis possuem frente para o mar e possuem 3 quartos?

In [48]:
print(f'{len(data.query("waterfront > 0 and bedrooms == 3"))} imóveis possuem frente pro mar e '
      f'possuem três quartos...')

64 imóveis possuem frente pro mar e possuem três quartos...

### Dos imóveis com mais de 300mts² de sala de estar,quantos possuem mais de dois banheiros?

In [49]:
print(f'Dos {len(data.query("sqft_living > 3229"))} imóveis com mais de 300mts² de sala de estar,'
      f'{len(data.query("sqft_living > 3229 and bathrooms > 2"))} '
      f'possuem mais de dois banheiros...')

Dos 2258 imóveis com mais de 300mts² de sala de estar,2201 possuem mais de dois banheiros...